<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
<!--            <p class="mb-2">와플스테이 | 경기도 안양시 동안구 엘에스로 116번길 118, 안양2차SK V1센터 1030ㅣ+82-1533-7901</p>-->
            <span>Copyright ©2022. Wafflestay</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
