<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="imageModalContent" width="100%" />
            </div>
            <div class="modal-footer p-0">
                <button class="btn btn-outline-secondary border-0 rounded-0 w-100 m-0" type="button" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
