.input-border-default {
    border: 1px solid #d1d3e2;
}

.content-short {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.table-x-scroll > table > thead,
.table-x-scroll > table > tbody {
    overflow-x: auto;
    white-space: nowrap;
}
